@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

// Variables
$white-color: #fff;
$black-color: #000;
$main-color: #d48502;
$second-color: #0f1702;
$gray-color: #555555;
$bg-color: #fafafa;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    ::selection {
        background-color: $main-color;
        color: $white-color;
    }
}

body {
    font-family: "Inter", sans-serif;
    // font-family: "Manrope", sans-serif;
    background-color: $white-color;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 680px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 920px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

.nav {
    // background-color: $bg-color;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            display: flex;
            padding: 20px 0;
            align-items: center;
            a {
                color: $black-color;
                text-decoration: none;
                font-size: 30px;
                font-weight: 400;
                span {
                    font-weight: 600;
                    letter-spacing: 1px;
                }
            }
        }
        .links {
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                li {
                    a {
                        color: $black-color;
                        margin: 8px;
                        text-decoration: none;
                        &:hover {
                            color: $main-color;
                            text-decoration: underline;
                        }
                    }
                    svg {
                        margin: 8px;
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
            .cart-icon {
                button {
                    background-color: $second-color;
                    color: $white-color;
                    padding: 0px 10px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    transition: 0.3s ease-in-out;
                    div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            margin: 8px;
                        }
                    }
                    &:hover {
                        color: $second-color;
                        background-color: $white-color;
                        outline: 1px solid $second-color;
                    }
                }
            }
        }

        .mobile {
            display: none;
            transition: 0.3s;
            z-index: 2;
            button {
                margin-right: 20px;
                background-color: $second-color;
                color: $white-color;
                padding: 0px 10px;
                border-radius: 5px;
                border: none;
                font-size: 14px;
                outline: none;
                transition: 0.3s ease-in-out;
                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        margin: 8px;
                    }
                }
                &:hover {
                    color: $second-color;
                    background-color: $white-color;
                    outline: 1px solid $second-color;
                }
            }
        }
    }
}

.notFound {
    .container {
        padding: 70px 0;
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    .nav {
        position: fixed;
        background-color: $white-color;
        top: 0;
        z-index: 2;
        width: 100%;
        .container {
            .links {
                position: absolute;
                right: 0;
                display: flex;
                background-color: $main-color;
                width: 300px;
                height: 100vh;
                padding-top: 100px;
                padding-left: 60px;
                top: 0;
                flex-direction: column;
                align-items: flex-start;
                ul {
                    flex-direction: column;
                    align-items: center;
                    // width: 100%;
                    // padding: 0;
                    li {
                        margin: 8px;
                        margin: 8 auto;
                        a {
                            color: $white-color;
                            &:hover {
                                color: $white-color;
                                margin-left: 10px;
                                transition: 0.2s ease-in-out;
                                text-decoration: underline;
                            }
                        }
                        .active {
                            color: $white-color;
                        }
                        svg {
                            font-size: 20px;
                            &:hover {
                                color: $white-color;
                            }
                        }
                    }
                }
            }
            .mobile {
                display: block;
            }
        }
    }
}

.home {
    .container {
        h2 {
            font-size: 22px;
            font-weight: 500;
            margin: 20px 0;
            span {
                color: $main-color;
                font-weight: 600;
            }
        }
        .content {
            background-color: $main-color;
            position: relative;
            margin-top: 20px;
            background-image: url("https://img.freepik.com/free-photo/full-shot-man-running-with-shopping-bags_23-2149220643.jpg?w=740&t=st=1687107075~exp=1687107675~hmac=470f990a8d9f0527fb652acc3f4c70db9e09a370772e40962e3c0afdd5a66204");
            background-position: center;
            background-size: cover;
            // width: inherit;
            border-radius: 10px;
            height: 500px;
            svg {
                position: absolute;
                font-size: 30px;
                color: $white-color;
                padding: 30px;
                cursor: pointer;
            }
            .left {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            .right {
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
        .popular-collection {
            padding: 20px 0;
            .heading {
                text-align: center;
            }
            .cards {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 20px;
                a {
                    text-decoration: none;
                    .car-d {
                        margin: 0 auto;
                        width: 200px;
                        border-radius: 5px;
                        background-color: $bg-color;
                        text-align: center;
                        padding-bottom: 25px;
                        h2 {
                            color: $black-color;
                            font-size: 16px;
                            font-weight: 500;
                            margin: 0;
                        }
                        p {
                            font-size: 16px;
                            color: $main-color;
                            margin-top: 10px;
                        }
                        img {
                            border-radius: 5px;
                            margin: 25px;
                            width: 150px;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .home {
        margin-top: 90px;
    }
}

.container {
    .products {
        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            a {
                text-decoration: none;
                .car-d {
                    margin: 0 auto;
                    width: 200px;
                    border-radius: 5px;
                    background-color: $bg-color;
                    text-align: center;
                    padding-bottom: 25px;
                    h2 {
                        color: $black-color;
                        font-size: 16px;
                        font-weight: 500;
                        margin: 0;
                    }
                    p {
                        font-size: 16px;
                        color: $main-color;
                        margin-top: 10px;
                    }
                    img {
                        border-radius: 5px;
                        margin: 25px;
                        width: 150px;
                        height: 200px;
                    }
                }
            }
        }
    }
}

.product-details {
    padding: 50px 0;
    .container {
        .back {
            font-size: 18px;
            font-weight: 500;
            color: $black-color;
            text-decoration: none;
        }
        .product {
            margin-top: 20px;
            background-color: $bg-color;
            padding: 40px;
            align-items: center;
            justify-content: center;
            display: flex;
            .section-1 {
                img {
                    width: 300px;
                }
            }
            .section-2 {
                margin-left: 30px;
                h2 {
                    font-size: 34px;
                    font-weight: 500;
                }
                h3 {
                    font-size: 22px;
                    color: $main-color;
                    margin: 10px 0;
                }
                h4 {
                    font-size: 16px;
                    font-weight: 400;
                    span {
                        font-weight: 600;
                    }
                }
                p {
                    color: $gray-color;
                    line-height: 1.2;
                    margin: 15px 0;
                }
                .counter {
                    display: flex;
                    margin-bottom: 20px;
                    span {
                        padding: 20px;
                        border-radius: 3px;
                        background-color: $second-color;
                        color: $white-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 20px;
                        height: 20px;
                        transition: 0.3s ease-out;
                        cursor: pointer;
                        &:hover {
                            background-color: $bg-color;
                            color: #0f1702;
                            outline: $second-color 1px solid;
                        }
                    }
                    p {
                        width: 20px;
                        height: 20px;
                        padding: 20px;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $black-color;
                        font-weight: 500;
                    }
                }
                button {
                    padding: 10px 16px;
                    background-color: $main-color;
                    font-size: 17px;
                    color: $bg-color;
                    border: 2px solid $main-color;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                    outline: none;
                    border-radius: 5px;
                    &:hover {
                        background-color: $second-color;
                        border-color: $second-color;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .product-details {
        margin-top: 50px;
        .container {
            .product {
                flex-direction: column;
                .section-1 {
                    padding: 20px;
                }
            }
        }
    }
}

.cart-items {
    .price {
        color: $main-color;
        font-weight: 500;
    }
    .cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .right {
            display: flex;
            align-items: center;
            h2 {
                font-size: 20px;
            }
            .counter {
                display: flex;

                margin-bottom: 20px;
                span {
                    padding: 15px;
                    border-radius: 3px;
                    background-color: $second-color;
                    color: $white-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20px;
                    height: 20px;
                    transition: 0.3s ease-out;
                    cursor: pointer;
                    &:hover {
                        background-color: $bg-color;
                        color: #0f1702;
                        outline: $second-color 1px solid;
                    }
                }
                p {
                    width: 20px;
                    height: 20px;
                    padding: 15px;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $black-color;
                    font-weight: 500;
                }
            }
            .remove-price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    margin: 0;
                }
                button {
                    padding: 8px 12px;
                    background-color: red;
                    font-size: 16px;
                    color: $bg-color;
                    border: 2px solid red;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                    outline: none;
                    border-radius: 5px;
                    &:hover {
                        background-color: $second-color;
                        border-color: $second-color;
                    }
                }
            }
        }
        img {
            width: 100px;
            margin-right: 20px;
        }
    }
}
.checkOut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    h3 {
        font-size: 18px;
    }
    a {
        color: $white-color;
        text-decoration: none;
        padding: 8px 12px;
        background-color: #e91e63;
        font-size: 16px;
        border: 2px solid #e91e63;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        outline: none;
        border-radius: 5px;
        &:hover {
            background-color: $second-color;
            border-color: $second-color;
        }
    }
}

.purchase {
    .container {
        h3 {
            font-size: 22px;
            font-weight: 500;
            padding: 20px 0;
        }
        .validation {
            padding: 30px 10px;
            border-radius: 10px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            background-color: $main-color;
            align-items: center;
            .comp-1 {
                background-color: $bg-color;
                padding: 10px;

                border-radius: 5px;
                .cart-items {
                    .price {
                        color: $main-color;
                        font-weight: 500;
                    }
                    .cart-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .right {
                            display: flex;
                            align-items: center;
                            h2 {
                                font-size: 20px;
                            }
                            .counter {
                                display: flex;
                                margin-bottom: 20px;
                                span {
                                    padding: 15px;
                                    border-radius: 3px;
                                    background-color: $second-color;
                                    color: $white-color;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 20px;
                                    height: 20px;
                                    transition: 0.3s ease-out;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: $bg-color;
                                        color: #0f1702;
                                        outline: $second-color 1px solid;
                                    }
                                }
                                p {
                                    width: 20px;
                                    height: 20px;
                                    padding: 15px;
                                    margin: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: $black-color;
                                    font-weight: 500;
                                }
                            }
                            .remove-price {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                p {
                                    margin: 0;
                                }
                                button {
                                    padding: 8px 12px;
                                    background-color: red;
                                    font-size: 16px;
                                    color: $bg-color;
                                    border: 2px solid red;
                                    transition: 0.3s ease-in-out;
                                    cursor: pointer;
                                    outline: none;
                                    border-radius: 5px;
                                    &:hover {
                                        background-color: $second-color;
                                        border-color: $second-color;
                                    }
                                }
                            }
                        }
                        img {
                            width: 100px;
                            margin-right: 20px;
                        }
                    }
                }
            }
            .comp-2 {
                background-color: #0f1702;
                padding: 20px;
                border-radius: 10px;
                form {
                    width: 380px;
                    padding: 20px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h2 {
                        align-self: flex-start;
                        margin-bottom: 20px;
                        font-size: 30px;
                        color: $white-color;
                    }
                    .inputbox {
                        width: 100%;
                        margin-bottom: 20px;
                        label {
                            font-size: 14px;
                            // display: none;
                            color: $white-color;
                        }
                        input {
                            width: 100%;
                            margin-top: 5px;
                            border: none;
                            border-radius: 5px;
                            border-bottom: 4px solid $white-color;
                            background-color: $white-color;
                            outline: none;
                            color: $second-color;
                            padding: 8px 12px;
                            &:focus {
                                border-block-color: $main-color;
                            }
                        }
                        &.check {
                            label {
                                display: block;
                            }
                            input[type="checkbox"] {
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                    input[type="submit"] {
                        font-size: 16px;
                        background-color: $bg-color;
                        color: $second-color;
                        outline: none;
                        border: none;
                        border-radius: 4px;
                        padding: 9px 16px;
                        margin-left: 10px;
                        font-weight: 600;
                        &:hover {
                            background-color: $second-color;
                            color: $white-color;
                            outline: 2px solid $white-color;
                        }
                    }
                    .check {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .purchase {
        margin-top: 80px;
        .container {
            .validation {
                background-color: $white-color;
                flex-direction: column;
                .comp-1 {
                    background-color: $white-color;
                    margin-bottom: 20px;
                    width: 380px;
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin: 0 auto;
                    align-items: center;
                }
                .comp-2 {
                    margin: 0 auto;
                    width: 100%;
                    form {
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .purchase {
        margin-top: 80px;
    }
    .products {
        margin-top: 100px;
    }
}

.footer {
    padding: 20px 0;

    .container {
        background-color: $second-color;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px;
        padding-left: 20px;
        margin: 0 auto;

        .logo {
            img {
                width: 150px;
            }
        }
        h3 {
            color: $white-color;
            font-weight: 400;
            margin-bottom: 20px;
        }
        ul {
            list-style: none;
            li {
                margin-bottom: 5px;
                a {
                    color: #8b8b8b;
                    text-decoration: none;
                    transition: 0.3s ease-in;
                    font-size: 15px;
                    &:hover {
                        color: $bg-color;
                        text-decoration: underline;
                    }
                }
                .icons {
                    svg {
                        font-size: 20px;
                        margin: 8px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        width: 90%;
        margin: 0 auto;
        .container {
            width: 100%;
            padding: 10px;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            div {
                margin-bottom: 20px;
                width: 150px;
                margin: 0 auto;
            }
        }
    }
}
